</article>
<!-- The Modal -->
<div id="kpicsPreviewModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>
    <p id="prev"><span>PREV</span></p>
    <p id="buttons">
        <p id="add">ADD</p>
        <p id="del">DEL</p>
        <p id="info">INFO</p>
    </p>
    <p id="random">RANDOM</p>
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
    <p id="next"><span>NEXT</span></p>
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
<div id="kpicsListPhoto">
</div>
<script>
    document.addEventListener('onload', function(e) {
           console.log(this);
    });
       var historyPhoto = new Array();
       var modal = document.getElementById('kpicsPreviewModal');
       var photos = document.getElementsByClassName('thumb');
       var rect = new Object;
       var x = 0;
       var y = 0;
       var rows = new Array();
       for (let i = 0; i < photos.length; i++) {
           rows[i] = new Array();
           rows[i][0] = i;
       }
       var rows_width = {};
       var photo_id = {};
       var rows_id = 0;
        var new_x = 0;
         if (document.cookie.indexOf('photo_id') > -1) {
              let photo_id = document.cookie.split('photo_id=')[1].split(';')[0];
              console.log('photo_id = ' + photo_id);
              if (photo_id >= 0 && photo_id < photos.length) {
                console.log('scroll to photo-' + photo_id);
                document.getElementById('photo-' + photo_id).scrollIntoView({ behavior: 'smooth' });
              }
            } else {
              console.log('no photo_id in cookie');
            }
       for (let photo in photos) {
           if (!parseInt(photo)) {
               continue;
           }
           new_x = x + photos[photo].clientWidth + 23;
           if ( new_x > document.body.clientWidth ) {
               for (let i = 0; i < rows[rows_id].length; i++) {
                //    photos[rows_width[rows_id][i]].style['left'] = x + "px";
                   console.log('rows_width[' + rows_id + '][' + i + '] = ' + rows[rows_id][i]);
               }
               rows[rows_id++] = [];
               x = 0;
               y += photos[photo].clientHeight + 0;
           }
        //    rows[rows_id][rows_width[rows_id].length] = photo_id;
           rows_width[rows_id] += photos[photo].clientWidth;
           photos[photo].classList.add('thumb-show');
           rect[photo] = new Object();
           rect[photo]['height'] = photos[photo].clientHeight;
           rect[photo]['width'] = photos[photo].clientWidth;
           rect[photo]['top'] = photos[photo].clientHeight;
           photos[photo].style['left']= x + "px";
           photos[photo].style['top'] = y + "px";
           rows_width[rows_id] = x + photos[photo].clientWidth;
           photo_id[photo] = photo;
           
           x += photos[photo].clientWidth + 1;
           
           // console.log(photos[photo]);
           var modalImg = document.getElementById("img01");
           var captionText = document.getElementById("caption");
           photos[photo].onmouseover = function(e)  {
               console.log("hover element" + photos[photo]);
           };
           photos[photo].onclick = function(e) {
               e.preventDefault();
               modalImg.id = photo;
               showPhoto(photo);
           };
           var span = document.getElementsByClassName("close")[0];
   
           span.onclick = function() {
                document.getElementById('photo-' + modal.getElementsByTagName('img')[0].getAttribute('id')).scrollIntoView({ behavior: 'smooth' });
                console.log('scroll to photo-' + modal.getElementsByTagName('img')[0].getAttribute('id'));  
                hidePhoto();
           };
   
           
           function hidePhoto() {
               modal.style.display = "none";
               console.log('hide photo');
           }
           function showPhoto(photo_id) {
                // let photo_id = Math.floor(photos.length * Math.random());
                let photo = document.querySelector('#photo-' + photo_id);
                historyPhoto.push(photo_id);
                console.log('historyPhoto = ' + historyPhoto);
                if (!photo) {
                    console.log('photo-' + photo_id + ' not found');
                    return;
                }
                console.log('show photo-' + photo_id);
                if (photo_id < 0 || photo_id >= photos.length) {
                    console.log('photo_id out of range: ' + photo_id);
                    return;
                }
                // if (modal.style.display == "block") {
                //     console.log('photo-' + modalImg.id + ' already shown');
                //     return;
                // }
                
                photo.style.zIndex = 1;
                modal.style.display = "block";
               console.log('show photo ' + photo_id);
               modalImg.classList.add('change');
               modalImg.classList.remove('changed')
                             
               modalImg.src = photos[photo_id].href;
               modalImg.id = photo_id;
               modalImg.classList.add('changed');
               modalImg.classList.remove('change')
               console.log("changed modalImg");
               modalImg.style.setProperty('--animation-time', Math.random() + 's')
           }
           function showRandomPhoto() {
               let photo_id = Math.floor(photos.length * Math.random());
               console.log('show random photo ' + photo_id);
               showPhoto(photo_id);
           }

           var randomPhoto = document.getElementById('random');
           randomPhoto.onmouseover = function() {
            console.log('hover button random');
           }
           randomPhoto.onclick = function() {
            showRandomPhoto();
            console.log('click random');
           }

           var prevPhoto = document.getElementById('prev');
           prevPhoto.onmouseover = function() {
               console.log('hover prev');
           }
           prevPhoto.onclick = function() {
            
               let photo_id = Math.floor(photos.length * Math.random());
               showPhoto(photo_id);              
            //    console.log('check modalImg.id = ' + modalImg.id);
            //    modalImg.classList.add('change');
            //    console.log("change modalImg");
            //    modalImg.classList.remove('changed')
               
            //    // e.preventDefault();
            //    console.log('click prev');
               
            //    console.log(photo_id);
            //    modalImg.src = photos[photo_id].href;
            //    modalImg.id = photo_id;
            //    modalImg.classList.add('changed');
            //    modalImg.classList.remove('change')
            //    console.log("changed modalImg");
            //    modalImg.style.setProperty('--animation-time', Math.random() + 's')
           }
   
           var nextPhoto = document.getElementById('next');
           // nextPhoto.onmouseover = function() {
               // modalImg.classList.add('hover')
           // }
           nextPhoto.onclick = function() {
               console.log('check modalImg.id = ' + modalImg.id);
               modalImg.id = parseInt(modalImg.id);
               modalImg.id++;
               if (modalImg.id == photos.length - 1) {
                //    modalImg.classList.add('change');
                //    console.log("change modalImg");
                //    modalImg.classList.remove('changed')
                //    modalImg.src = photos[0].href;
                   modalImg.id = 0;
               } 
            //    else {
                //    modalImg.classList.add('change');
                //    console.log("change modalImg");
                //    modalImg.classList.remove('changed')
                //    console.log(modalImg.id);
                //    modalImg.src = photos[modalImg.id].href;
                //    modalImg.id = modalImg.id;
            //    }
                showPhoto(modalImg.id);
                console.log('click next');
           }
           
           
       }
       document.addEventListener("keydown", function(e) {
                console.log('keydown ' + e.keyCode);
               if(e.keyCode == 27) {
                    hidePhoto();
                    console.log('hide photo by ESC');
               }
                if(e.keyCode == 37 || e.keyCode == 80) {
                      console.log('click prev or arrow left');
                      let photo_id = parseInt(modalImg.id);
                      if (photo_id > 0) {
                            photo_id--;
                      } else {
                            photo_id = photos.length - 1;
                      }
                      showPhoto(photo_id);
                }
                if(e.keyCode == 39 || e.keyCode == 78) {
                      console.log('click next or arrow right');
                      let photo_id = parseInt(modalImg.id);
                      if (photo_id < photos.length - 1) {
                            photo_id++;
                      } else {
                            photo_id = 0;
                      }
                      showPhoto(photo_id);
                }
                if(e.keyCode == 82) {
                      console.log('click r for random');
                      showRandomPhoto();
                }
                if(e.keyCode == 65) {
                      console.log('click add');
                      let photo_id = parseInt(modalImg.id);
                      if (photo_id >= 0 && photo_id < photos.length) {
                            document.getElementById('photo-' + photo_id).scrollIntoView({ behavior: 'smooth' });
                            console.log('scroll to photo-' + photo_id);
                            // Add your add logic here
                      }
                }
                if(e.keyCode == 68) {
                      console.log('click del');
                      let photo_id = parseInt(modalImg.id);
                      if (photo_id >= 0 && photo_id < photos.length) {
                            document.getElementById('photo-' + photo_id).scrollIntoView({ behavior: 'smooth' });
                            console.log('scroll to photo-' + photo_id);
                            // Add your delete logic here
                      }
                }
                if(e.keyCode == 73) {
                      console.log('click info');
                      let photo_id = parseInt(modalImg.id);
                      if (photo_id >= 0 && photo_id < photos.length) {
                            document.getElementById('photo-' + photo_id).scrollIntoView({ behavior: 'smooth' });
                            console.log('scroll to photo-' + photo_id);
                            // Add your info logic here
                      }
                }
                if(e.keyCode == 107) {
                      console.log('click + zoom in');
                      let photo_id = parseInt(modalImg.id);
                      if (photo_id >= 0 && photo_id < photos.length) {
                            let photo = document.getElementById('photo-' + photo_id);
                            if (photo) {
                                  photo.style.transform = 'scale(1.1)';
                                  console.log('zoom in photo-' + photo_id);
                            }
                      }
                }
                if(e.keyCode == 109) {
                    console.log('click - for zoom out');
                      console.log('click zoom out');
                      let photo_id = parseInt(modalImg.id);
                      if (photo_id >= 0 && photo_id < photos.length) {
                            let photo = document.getElementById('photo-' + photo_id);
                            if (photo) {
                                  photo.style.transform = 'scale(0.9)';
                                  console.log('zoom out photo-' + photo_id);
                            }
                      }
                }
                if(e.keyCode == 79) {
                      console.log('pres o to open in new tab');
                      let photo_id = parseInt(modalImg.id);
                      if (photo_id >= 0 && photo_id < photos.length) {
                            let url = photos[photo_id].href;
                            var newTab = window.open(url,'_blank');
                            newTab.focus();
                            console.log('open in new tab photo-' + photo_id);
                            // Add your space logic here
                      }
                }
                
           });
   </script>
</body>
</html>