</article>
<!-- The Modal -->
<div id="kpicsPreviewModal" class="modal">

    <!-- The Close Button -->
    <span class="close">&times;</span>
    <p id="prev">PREV</p>
    <p id="buttons">
        <p id="add">ADD</p>
        <p id="del">DEL</p>
        <p id="info">INFO</p>
    </p>
    <p id="random">RANDOM</p>
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">
    <p id="next">NEXT</p>
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
<div id="kpicsListPhoto">
</div>
<script>
    document.addEventListener('onload', function(e) {
           console.log(this);
    });
       var historyPhoto = new Array();
       var modal = document.getElementById('kpicsPreviewModal');
       var photos = document.getElementsByClassName('thumb');
       var rect = new Object;
       var x = 0;
       var y = 0;
       var rows = new Array();
       for (let i = 0; i < photos.length; i++) {
           rows[i] = new Array();
           rows[i][0] = i;
       }
       var rows_width = {};
       var photo_id = {};
       var rows_id = 0;
        var new_x = 0;
         if (document.cookie.indexOf('photo_id') > -1) {
              let photo_id = document.cookie.split('photo_id=')[1].split(';')[0];
              console.log('photo_id = ' + photo_id);
              if (photo_id >= 0 && photo_id < photos.length) {
                console.log('scroll to photo-' + photo_id);
                document.getElementById('photo-' + photo_id).scrollIntoView({ behavior: 'smooth' });
              }
            } else {
              console.log('no photo_id in cookie');
            }
       for (let photo in photos) {
           if (!parseInt(photo)) {
               continue;
           }
           new_x = x + photos[photo].clientWidth + 23;
           if ( new_x > document.body.clientWidth ) {
               for (let i = 0; i < rows[rows_id].length; i++) {
                //    photos[rows_width[rows_id][i]].style['left'] = x + "px";
                   console.log('rows_width[' + rows_id + '][' + i + '] = ' + rows[rows_id][i]);
               }
               rows[rows_id++] = [];
               x = 0;
               y += photos[photo].clientHeight + 0;
           }
        //    rows[rows_id][rows_width[rows_id].length] = photo_id;
           rows_width[rows_id] += photos[photo].clientWidth;
           photos[photo].classList.add('thumb-show');
           rect[photo] = new Object();
           rect[photo]['height'] = photos[photo].clientHeight;
           rect[photo]['width'] = photos[photo].clientWidth;
           rect[photo]['top'] = photos[photo].clientHeight;
           photos[photo].style['left']= x + "px";
           photos[photo].style['top'] = y + "px";
           rows_width[rows_id] = x + photos[photo].clientWidth;
           photo_id[photo] = photo;
           
           x += photos[photo].clientWidth + 1;
           
           // console.log(photos[photo]);
           var modalImg = document.getElementById("img01");
           var captionText = document.getElementById("caption");
           photos[photo].onmouseover = function(e)  {
               console.log("hover element" + photos[photo]);
           };
           photos[photo].onclick = function(e) {
               e.preventDefault();
               // var kimg = this.children[0];
               // kimg.classList.add('thumb-show');
               // var _height = Math.round(window.innerHeight * 0.8);
                
               
               // var proportion = photos[photo].firstChild.clientWidth / photos[photo].firstChild.clientHeight;
               // console.log(proportion);
               // console.log(kimg);
               // kimg.width = _height * proportion;
               // kimg.height = _height;
               // kimg.left = photos[photo].left - 0.5 * photos[photo].firstChild.clientWidth;
               // kimg.top = photos[photo].top - 0.5 * photos[photo].firstChild.clientHeight;
   
               // console.log(kimg.width);
               // console.log(kimg.height);
               // kimg.src = photos[photo].href;
               // if (1 == 2) {
                   this.style.setProperty('z-index', 1);
                   // this.getElementsByTagName('img').src = this.href;
   
                   modal.style.display = "block";
                   modalImg.src = this.href;
                   modalImg.classList.remove('changed')
                   modalImg.classList.add('change');
                   
                   modalImg.id = photo
                   modal.style.height = Math.round(window.innerHeight * 0.9);
                   document.cookie = 'photo_id=' + photo;
                   
                   modalImg.classList.remove('change');
                   modalImg.classList.add('changed');
               // }
           };
           var span = document.getElementsByClassName("close")[0];
   
           span.onclick = function() {
                document.getElementById('photo-' + modal.getElementsByTagName('img')[0].getAttribute('id')).scrollIntoView({ behavior: 'smooth' });
                console.log('scroll to photo-' + modal.getElementsByTagName('img')[0].getAttribute('id'));  
                modal.style.display = "none";
           };
   
           document.addEventListener("keydown", function(e) {
               if(e.keyCode == 27) {
                    // document.body.scrollTop(document.getElementById(photo).offsetTop());
                //    document.body.scrollTop = document.getElementById('photo-' + modal.getElementsByTagName('img')[0].getAttribute('id')).offsetTop;
 
                modal.style.display = "none";
               }
           });
            
           function showPhoto(photo_id) {
                // let photo_id = Math.floor(photos.length * Math.random());
               console.log('check modalImg.id = ' + modalImg.id);
               modalImg.classList.add('change');
               console.log("change modalImg");
               modalImg.classList.remove('changed')
               
               // e.preventDefault();
               console.log('click prev');
               
               console.log(photo_id);
               modalImg.src = photos[photo_id].href;
               modalImg.id = photo_id;
               modalImg.classList.add('changed');
               modalImg.classList.remove('change')
               console.log("changed modalImg");
               modalImg.style.setProperty('--animation-time', Math.random() + 's')
           }

           var randomPhoto = document.getElementById('random');
           randomPhoto.onmouseover = function() {
            console.log('hover button random');
           }
           randomPhoto.onclick = function() {
            let photo_id = Math.floor(photos.length * Math.random());
            showPhoto(photo_id);
           }

           var prevPhoto = document.getElementById('prev');
           prevPhoto.onmouseover = function() {
               console.log('hover prev');
           }
           prevPhoto.onclick = function() {
            
               let photo_id = Math.floor(photos.length * Math.random());
                             
               console.log('check modalImg.id = ' + modalImg.id);
               modalImg.classList.add('change');
               console.log("change modalImg");
               modalImg.classList.remove('changed')
               
               // e.preventDefault();
               console.log('click prev');
               
               console.log(photo_id);
               modalImg.src = photos[photo_id].href;
               modalImg.id = photo_id;
               modalImg.classList.add('changed');
               modalImg.classList.remove('change')
               console.log("changed modalImg");
               modalImg.style.setProperty('--animation-time', Math.random() + 's')
           }
   
           var nextPhoto = document.getElementById('next');
           // nextPhoto.onmouseover = function() {
               // modalImg.classList.add('hover')
           // }
           nextPhoto.onclick = function() {
               console.log('check modalImg.id = ' + modalImg.id);
               modalImg.id = parseInt(modalImg.id);
               modalImg.id++;
               if (modalImg.id == photos.length - 1) {
                   modalImg.classList.add('change');
                   console.log("change modalImg");
                   modalImg.classList.remove('changed')
                   modalImg.src = photos[0].href;
                   modalImg.id = 0;
               } else {
                   modalImg.classList.add('change');
                   console.log("change modalImg");
                   modalImg.classList.remove('changed')
                   console.log(modalImg.id);
                   modalImg.src = photos[modalImg.id].href;
                   modalImg.id = modalImg.id;
               }
           }
           
       }
   </script>
</body>
</html>